:root {
  --clr-light: #e2e2e2;
  --clr-dark: #121212;
  --clr-accent: #ff29c3;
  --clr-bg: #f59e0b;
  --clr-bg2: #ef4444;
  --bg-color: rgb(20, 20, 20);
  --clr-grey: #7b7992;
  --foreground: var(--clr-dark);
  --background: var(--clr-light);

}

