:root {
  --clr-primary: #231834;
  --clr-secondary: #1dc2ef;
  --clr-grey: #ECEFF3;
  --clr-red:#fc5546;
  --clr-text:#0e2b5c;
  --clr-text-light:#627792;
  --clr-p:#9b9aad;
  --clr-bg:#181123;
  --black: #000;
  --white:#fff;
--font-normal:"Sailec";
--font-medium:"Sailec-Medium";
--font-bold:"Sailec-Bold";


}

@font-face {
  font-family: "Sailec-Bold";
  src: url(../assets/fonts/Sailec-Bold.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Sailec-Medium";
  src: url(../assets/fonts/Sailec-Medium.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Sailec";
  src: url(../assets/fonts/Sailec.otf) format("opentype");
  font-weight: normal;
}

body{
  font-family: var(--font-normal);
}

img{
  max-width: 100%;
}

.py-20 {
  padding: 20px 0px;
}

.gap-30{
  gap: 30px;
}

.bg-gray{
  background: linear-gradient(360deg,rgba(0,0,0,0) 10%,#0000000a 90%);
}


.w-20{
  width: 20%;
}

.custom-btn{
 
  font-family: var(--font-medium);
  text-transform: none;
  padding-right: 40px;
  padding-left: 40px;
  border: 1px solid rgba(14, 43, 92, 0.1);
  border-radius: 5px;
  height: 64px;
  line-height: 64px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  margin-top: 30px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 6%);
  display: inline-flex;
    align-items: center;
}

.custom-btn img,
.custom-btn i{
  margin-right: 15px;
  font-size: 28px;
}

.rounded-btn{
  border-radius: 100px;
}

.custom-btn.large-btn{
  display: block;
  font-size: 16px;
  height: 55px;
  line-height: 55px;
}

.custom-btn.small-btn{
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
}

.primary-btn{
  background-color: var(--white);
  color: var(--clr-secondary);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.primary-btn:hover{
  color: var(--white);
}

.primary-btn:after{
  background-color: var(--clr-red);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: -2px;
  bottom: 0;
  z-index: -1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  transition: transform 0.3s ease-out,-webkit-transform 0.3s ease-out;
}

.primary-btn:hover:after,
.secondary-btn:hover:after,
.blue-btn:hover:after,
.l-blue-btn:hover:after,
.outline-btn:hover:after{
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
}

.secondary-btn{
  background-color: var(--clr-red);
  color: var(--white);
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.secondary-btn:hover{
  color: var(--white);
  background-color: var(--clr-text);
}

.secondary-btn:after{
  background-color: var(--clr-text);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: -2px;
  bottom: 0;
  z-index: -1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  transition: transform 0.3s ease-out,-webkit-transform 0.3s ease-out;
}


.blue-btn{
  background-color: var(--clr-text);
  color: var(--white);
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.blue-btn:hover,
.l-blue-btn:hover,
.outline-btn:hover{
  color: var(--white);
  background-color: var(--clr-red);
}

.outline-btn:hover{
border-color: var(--clr-red);
}

.blue-btn:after,
.l-blue-btn:after,
.outline-btn:after{
  background-color: var(--clr-red);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: -2px;
  bottom: 0;
  z-index: -1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  transition: transform 0.3s ease-out,-webkit-transform 0.3s ease-out;
}


.l-blue-btn{
  background-color: var(--clr-secondary);
  color: var(--white);
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.outline-btn{
  background-color: transparent;
  color: var(--white);
  border: 3px solid var(--white);
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-out;
}



.iconbox.style4 .box-icon img,
.culture-list i,
.mission-icons img,
.iconbox.style1 .box-icon img{
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.iconbox.style4:hover .box-icon img,
.iconbox.style1:hover .box-icon img,
.culture-list:hover i,
.mission-icons .col-lg-5 .d-flex:hover img {
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}

.navbar{
  box-shadow: rgb(0 0 0 / 12%) 0 10px 60px;
}

.nav-link {
  display: initial !important;
  position: relative;
  padding: 0 !important;
}

.nav-info{
  position: relative;
    text-align: center;
    font-size: 15px;
    line-height: 22.5px;
    color: var(--clr-text-light);
    font-family: var(--font-normal);
  
}
.nav-info a{
  color: var(--clr-text);
  text-decoration: none;
}
.navbar .container-fluid {
  max-width: 90%;
}

.nav-info:before {
  height: 0;
  border-bottom: 1px solid;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  -webkit-opacity: .15;
  -khtml-opacity: .15;
  -moz-opacity: .15;
  opacity: .15;
}
.center-content {
  flex-grow: 1;
    padding: 0 5%;
}

.navbar-nav{
  flex-grow: 1;
}

.navbar-nav a{
  padding: 0px;
  font-size:16px;
    line-height: 26px;
    color: var(--clr-text);
    font-family: var(--font-medium);

}


.nav-item{
  flex-grow: 1;
    text-align: center;
    position: relative;
}

.nav-item:hover>a{
  color: var(--clr-red);
}

.nav-item:hover:before{
  width: 100%;
  left: 0;
  right: auto;
 
}

.nav-item:before{
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  right: 0;
  top: -2px;
  border-bottom: 3px solid;
  border-color: var(--clr-red);
  transition: width 0.5s cubic-bezier(.25,.8,.25,1) 0s;
}

.current-menu .nav-link{
color: var(--clr-red);
}

a[data-bs-toggle="dropdown"]:before,
a[data-bs-toggle="dropdown"]:after{
  content: '';
    transform-origin: 50% 50%;
    backface-visibility: hidden;
    -webkit-transition: width 0.3s,-webkit-transform 0.3s;
    transition: width 0.3s,transform 0.3s;
    position: absolute;
    top: 50%;
    border-top: 1px solid;
    display: inline-block;
    height: 0;
    width: 8px;
    margin-top: -1px;
    right: -20px;
    opacity: .7;



}

a[data-bs-toggle="dropdown"]:before{
  right: -15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

a[data-bs-toggle="dropdown"]:after{
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dropdown-menu{
  text-align: left !important;
  min-width: 250px !important;
  left: 50% !important;
  top: 50px !important;
  z-index: 2 !important;
  padding: 20px 0 !important;
  background: var(--white);
  border: 1px solid rgba(0,0,0,.1) !important;
  border-radius: 5px !important;
  box-shadow: 0 5px 19px 1px rgb(0 0 0 / 9%);
  transform: translateX(-50%) translateY(10px);

}
.dropdown-menu:after{
content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    height: 14px;
    width: 14px;
    background: var(--white);
    border-top: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    -webkit-transform: translateX(-50%) translateY(6px) rotate(-45deg);
    transform: translateX(-50%) translateY(6px) rotate(-45deg);
}

.dropdown-menu li{
  position: relative;
}

.dropdown-menu li a{
  white-space: nowrap;
    padding: 5px 40px;
position: relative;
    text-transform: none;
    letter-spacing: 0;
    font-size:15px;
    line-height: 26px;
    color: var(--clr-text-light);
    font-family: var(--font-normal);
}

.dropdown-menu li a:before{
  content: "\f061";
  font: var(--fa-font-solid);
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 1;
    transition: all 0.5s;
    opacity: 0;
}

.dropdown-menu li a:hover:before{
opacity: 1;
left: 20px;
}
.icons img{
  width: 60%;
}
.extras{
  display: table;
    position: relative;
    height: 122px;
}

.extras .navigator , .header-info-text{
  list-style: none;
  display: table-cell;
  vertical-align: middle;
}
.navigator:after {
  content: "";
  border-left: 1px solid;
  left: 25px;
  position: absolute;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  width: 0;
  -webkit-opacity: .15;
  -khtml-opacity: .15;
  -moz-opacity: .15;
  opacity: .15;

}

.navigator .search-box a{
  color: var(--clr-text);
}

.extras .icons-info .info{
  font-size:15px;
  line-height: 22.5px;
  color: var(--clr-text-light);
  font-family: var(--font-normal);
}

.extras .icons-info .info a{
  color: var(--clr-text);
  text-decoration: none;
  border-bottom: 1px dotted rgba(0,0,0,.5);
}


.hero-slider{
min-height: 620px;
height: 620px;
}


.hero-slider .hero-slides{
  height: 100%;
  width: 100%;
  display: block;

  background-color: var(--clr-secondary);
  background-blend-mode: multiply;
}
.hero-slider .hero-slides img{

  object-fit: cover;
  width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    object-position: center;
    filter: grayscale(1);
    position: absolute;
    top: 0;

}

.hero-slider .hero-slides .hero-slides-meta {
z-index: 99;
position: relative;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
padding: 0 200px;
}

.hero-slider .hero-slides .hero-slides-meta .slides-subtitle{
  font-family: var(--Sailec);
  color: var(--white);
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 0;
}

.slides-smalltext{
  font-family: var(--Sailec);
  color: var(--white);
  font-size: 32px;
  line-height:40px;
  margin-bottom: 20px;
}

.hero-slider .hero-slides .hero-slides-meta h2{
  font-family: var(--font-bold);
  color: var(--white);
  font-size: 112px;
  line-height: 120px;
}

.hero-slider .slide-divider{
  background-color: var(--white);
  width: 80px;
  height: 5px;
  margin-bottom: 40px;

}

.hero-slider .slider-link{
  font-family: var(--font-medium);
  color: var(--white);
text-transform: uppercase;
text-decoration: none;
font-size: 16px;
line-height: 22px;
letter-spacing: 1px;
    padding: 15px 50px 10px 0;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
    overflow: hidden;
}




.hero-slider .slider-link:after,
.hero-slider .slider-link:before{
  content: "\f061";
  font: var(--fa-font-solid);
    font-size: 30px;
    text-indent: 0;
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    background: none;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out 0s;
}

.hero-slider .slider-link:before{
  left: -50px;
  right: auto;
  
  }
  .hero-slider .slider-link:hover{
    padding: 15px 0 10px 50px;
  }
  .hero-slider .slider-link:hover:before{
  left: 0;
}

.hero-slider .slider-link:hover:after {
  left: auto;
    right: -50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


.swiper-button-next,
.swiper-button-prev{
  width: 70px !important; 
  height: 60px !important;
  color: var(--clr-secondary);
  background-color: var(--white);
}

.swiper-button-next{
  border-radius: 30px 0 0 30px;
  right: 0 !important;
}

.swiper-button-prev{
  border-radius: 0 30px 30px 0;
  left: 0 !important;

}

.swiper-button-next:after,
.swiper-button-prev:after{
  line-height: 60px !important;;
    font-size: 24px !important;;
}

.our-company{
  background-color: var(--clr-primary);
  padding-top: 80px;
  padding-bottom: 200px ;
}

.w-66{
  width: 66.66666667%;
}

.h-450{
  height: 450px;
}

.page-banner-title{
width: 50%;
z-index: 1;
position: relative;
}

.section-title h5{
  font-family: var(--font-medium);
  font-size: 10px;
line-height: 14px;
letter-spacing: 4px;
  color: var(--clr-secondary);
}

.section-title h5.color-gray{
  color: var(--clr-text-light);
}



.section-title h3{
color: var(--clr-text);
font-size: 30px;
line-height: 36px;
font-family: var(--font-bold);

}


.section-title h2{
  color: var(--clr-text);
  font-size: 36px;
  line-height: 43px;
  font-family: var(--font-bold);
  
  }



.section-para{
  font-family: var(--font-normal);
  font-size: 16px;
line-height: 26px;
  color: var(--clr-text-light);
  margin-bottom: 0;
}


.page-banners{
  padding: 80px 0 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.page-banners.overlay:after{
  content:"";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 0;
}

.faq-banner::after{
  content:"";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ff5c45f5;
  z-index: 0;
}

.page-banner-title h3{
color: var(--clr-text);
font-size: 46px;
line-height: 55px;
font-family: var(--font-bold);

}


.page-banner-title h5{
  font-family: var(--font-normal);
  font-size: 16px;
line-height: 26px;
  color: var(--clr-secondary);
}

.page-banner-title h5.color-gray{
  color: var(--clr-text-light);
}

.about-section{
  background:var(--clr-grey);
  padding-bottom: 60px;
}

.box-container,
.project-wrapper{
  margin-top: -160px;

}

.imagebox .box-image{
  position: relative;
}

.imagebox .box-header{
  background:var(--white);
  position: absolute;
  display: block;
  bottom: -30px;
  left: 50%;
  padding: 20px;
  text-align: center;
  width: 80%;
  z-index: 2;
  -webkit-box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 5px 35px rgba(0,0,0,.1);
  -ms-box-shadow: 0 5px 35px rgba(0,0,0,.1);
  -o-box-shadow: 0 5px 35px rgba(0,0,0,.1);
  box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-decoration:none;
}

.imagebox .box-subtitle {
  height: 24px;
  margin: 2px 0 0 0;
  font-size:16px;
  line-height: 22px;
  overflow: hidden;
  color:var(--clr-secondary);
  transition: all 0.2s ease-in-out 0s;
}

.imagebox:hover .box-subtitle {
  height: 0;
}

.imagebox .box-header .box-title {
  margin: 2px 0;
  font-size: 20px;
  line-height: 28px;
  color:var(--clr-text)
}

.imagebox .box-header .box-button {
  font-size:16px;
  line-height: 16px;
  height: 0;
  overflow: hidden;
  color:var(--clr-secondary);
  transition: all 0.2s ease-in-out 0s;

}

.imagebox .box-header .box-button span:after {
  content: "\f061";
  font: var(--fa-font-solid);
    font-size: 13px;
    text-indent: 0;
    margin-left: 5px;
}

.imagebox:hover .box-button{
  height: 24px;
}


.imagebox .box-img img{
  border: medium none;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

.stop-wasting p{
  text-align: center;
  font-size: 15px;
  line-height:26px;
  font-family:var(--font-normal);
  color:var(--clr-text-light);
  margin:10px 0 0;
}

.stop-wasting a{
  color:var(--clr-text);
  border-bottom: 1px dotted rgba(0,0,0,.5);
  text-decoration: none;
}

.services{
  padding: 80px 0 40px;
}

.iconbox{
  background: var(--white);
  text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
}

.iconbox .box-title {
  margin: 0 0 10px 0;
  font-family: var(--font-medium);
  color: var(--clr-text);
  font-size: 20px;
  line-height: 27px;
}

.iconbox .box-detail {
  font-size: 15px;
  line-height: 26px;
  color: var(--clr-text-light);
}
.iconbox.style4 .box-detail p{
  color: var(--clr-p);
}

.iconbox .box-detail p{ 
  margin-bottom: 0;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--font-normal);
  color: var(--clr-text-light);
}

.iconbox .box-icon {
  margin: 40px 0 0 0;
  position: relative;
  z-index: 2;
  height: 80px;
}

.iconbox .box-icon img {
  position: absolute;
  height: 80px;
  width: 80px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: -webkit-transform 0.35s;
  transition: transform .35s;
  transition: transform 0.35s,-webkit-transform 0.35s;
  transition-timing-function: cubic-bezier(.12,.845,.305,1);
}

.iconbox:hover img {
  -webkit-transform: translateX(-50%) translateY(-20px) rotate(8deg);
  transform: translateX(-50%) translateY(-20px) rotate(8deg);
}




.iconbox .box-icon:before {
  position: absolute;
  height: 8px;
  width: 66px;
  content: "";
  bottom: -15px;
  left: 50%;
  margin-left: -33px;
  background: rgba(0,0,0,.06);
  z-index: -1;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform 0.35s;
  transition: transform .35s;
  transition: transform 0.35s,-webkit-transform 0.35s;
  transition-timing-function: cubic-bezier(.12,.845,.305,1);
}

.iconbox:hover .box-icon:before {
  -webkit-transform: scale(.75);
  transform: scale(.75);
}

.iconbox .box-readmore{
  margin-top: 40px;

}

.iconbox .box-readmore i{
font-size: 14px;
margin-left: 5px;
}



.iconbox .box-readmore a{

  color: var(--clr-secondary);
  font-size:16px;
  line-height: 16px;
  font-family: var(--font-medium);
  text-decoration: none;
  position: relative;
  padding: 10px 18px 8px 0;
  z-index: 1;
}

.iconbox .box-readmore a:hover{
  color: var(--white);
}

.iconbox .box-readmore a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: -2px;
  bottom: 0;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition: transform 0.3s ease-out,-webkit-transform 0.3s ease-out;
  left: -10px;
  right: -10px;
}

.iconbox .box-readmore a:hover:after{
  background-color: #fc5546;
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
}

.service-logos{
  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.06);
  z-index: 1;
  position: relative;
}

.our-projects{
  padding-bottom: 60px;
}

.our-industries{
  background-color:var(--clr-bg);
  padding-top: 80px;
  padding-bottom: 200px; 
}

.industries-serve-wrapper{
  gap: 30px;
  margin: 60px 0 90px;
}

.iconbox.style3 {
  background: #f3f6f9;
  box-shadow: none;
}

.iconbox.style4{
  font-size: 15px;
    line-height: 150%;
    background: transparent;
    padding: 15%;
    border: 1px solid rgba(255,255,255,.1);
    position: relative;
    z-index: 2;
    box-shadow: none;
}

.iconbox.style4:hover {
  border-color: transparent;
}

.iconbox.style4:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(255,255,255,.05);
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  border-radius: 5px;
  box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out,-webkit-transform 0.3s ease-out;
}

.iconbox.style4:hover:after {
  visibility: visible;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
  transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
}

.iconbox.style4 .box-icon:before{
  content:none;
}

.iconbox.style4 .box-icon{
  margin: 0 0 30px 0;
}

.iconbox.style4 .box-icon img{
  position: static;
}



.iconbox.style4 .box-icon.no-animate img{
  animation: none;
 }

 .iconbox.style1 .box-icon::before {
  content: none;
 }

 .iconbox.style1 .box-icon img{
  height: 48px;
  width: 48px;
 }

.iconbox.style2 .box-icon {
  margin: 20px 0 40px 0;
}

.iconbox.style2 .box-readmore {
  margin-top: 20px;
}

@keyframes tada {
  from {
      -webkit-transform: scale3d(1,1,1);
      transform: scale3d(1,1,1)
  }

  10%,20% {
      -webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
      transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
  }

  30%,50%,70%,90% {
      -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
      transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
  }

  40%,60%,80% {
      -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
      transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
  }

  to {
      -webkit-transform: scale3d(1,1,1);
      transform: scale3d(1,1,1)
  }
}

.iconbox.style4 .box-title {
  color:var(--white);
  margin: 0 0 15px 0;
  font-size: 15px;
  line-height: 22px;
}

.iconbox.style4 .box-title span{
  opacity: .5;
  color: var(--white);

}

.box-title.large{
  font-size: 30px !important;
  margin: 0 0 5px 0 !important;
}

.project-wrapper {
  margin-bottom: 40px;
}

.projects-items{
  position: relative;
  box-shadow: 0 2px 2px rgb(0 0 0 / 6%), 0 4px 4px rgb(0 0 0 / 6%), 0 8px 8px rgb(0 0 0 / 6%), 0 16px 16px rgb(0 0 0 / 6%), 0 32px 32px rgb(0 0 0 / 6%);
  border-radius: 5px;
  display: block;
  transition: all 0.5s;
}

.projects-items:hover{
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.projects-items .mask {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  z-index: 2;
}


.project-image{
  position: relative;
  z-index: 3;
  opacity: .3;
  filter: grayscale(100%);
}
.projects-items .project-info {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 50%;
  text-align: center;
  width: 100%;
  padding: 0 15%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.projects-items .project-info .project-title{
  font-size:20px;
  line-height:27px;
  color:var(--white);
  font-family: var(--font-medium);
}


.map-section {
  padding-top: 20px;
  padding-bottom: 60px;
  background-image: url(../assets/images/bg-team.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-blend-mode: multiply;
}


.pin-points{
  max-width: 820px;
  margin: 0 auto;
  position: relative;
}
.pins_animation {
    border: none;
    width: 30px !important;
    height: 30px !important;
    top: 50% !important;
    left: 50% !important;
    margin-top: -15px;
    margin-left: -15px;
    opacity: .2;
    border-radius: 50px;
    box-shadow: none;
    position: absolute;
    pointer-events: none;
    animation: Ani-pin 3s infinite;
    background-color: var(--clr-text);
}

@keyframes Ani-pin {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0)
  }

  30% {
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2)
  }

  70% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5)
  }

  100% {
      -webkit-transform: scale(0);
      transform: scale(0)
  }
}


.drag_element.tips{
  position: absolute;
    top: 0;
    left: 0;
    min-width: 1px;
    min-height: 1px;
} 

.point_style {
  position: relative;
  z-index: 10;
  display: block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  text-align: center;
}

.point_style img {
  position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    max-width: 30px;
}

.point_style img.map-pin {
width: 8px;
height: 8px;
}

.map-section .iconlist{
  display: table;
    table-layout: fixed;
    font-size: 1rem;
    width: 100%;
    position: relative;
    padding: 5% 0;
    background: rgba(255,255,255,.95);
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 60px 90px 0 rgb(0 0 0 / 25%);
    margin-top: -18px;
}

.map-section .iconlist:before {
  content: "";
  left: 20px;
  right: 20px;
  bottom: -18px;
  height: 8px;
  position: absolute;
  background: #cbdad5;
  z-index: 0;
  border-radius: 0 0 5px 5px;
}

.map-section .iconlist:after {
  content: "";
  left: 10px;
  right: 10px;
  bottom: -10px;
  height: 10px;
  position: absolute;
  z-index: 0;
  background: var(--white);
  border-radius: 0 0 5px 5px;
}


.map-section .iconlist>li {
  display: table-cell;
  position: relative;
  z-index: 3;
  vertical-align: top;
  width: 100%;

}

.iconlist-wrapper{
  padding: 0 10%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.map-section .iconlist>li .iconlist-item-content {
  flex-grow: 1;
}

.map-section .iconlist>li .iconlist-item-icon {
  margin-left: 10%;
  flex-shrink: 0;
}

.map-section .iconlist>li .iconlist-item-icon img{
  animation: tada 1s both; 
 
} 

.map-section .iconlist>li .iconlist-wrapper:hover .iconlist-item-icon img{
animation-iteration-count: infinite;
}

.map-section .iconlist>li .iconlist-item-content h4 {
  margin: 0 0 10px 0;
  font-size:20px;
  line-height: 27px;
  color: var(--clr-text);
  font-family: var(--font-medium);
  position: relative;
  display: inline-block;
  transition: all 0.2s ease-in-out 0s;
}

.map-section .iconlist>li .iconlist-wrapper:hover .iconlist-item-content h4{
  transform: translateX(-10px);
}

.map-section .iconlist>li .iconlist-item-content h4:before{
  content:"\f061";
  font: var(--fa-font-solid);
  font-size: 16px;
  text-indent: 0;
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out 0s;

}

.map-section .iconlist>li .iconlist-wrapper:hover .iconlist-item-content h4:before {
  opacity: 1;
  right: -20px;

}

.map-section .iconlist>li .iconlist-item-content p {
  font-size:15px;
  line-height: 26px;
  color: var(--clr-text-light);
  font-family: var(--font-normal);
}

.map-section .iconlist>li .iconlist-item-content a.link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-indent: -9999px;
}

.our-blog{
  padding-top: 80px;
  padding-bottom: 80px;
}

.blog-post{
  text-decoration: none;
}

.blog-post{
    background: #f3f6f9;
    overflow: hidden;
    display: block;
    height: 100%;
    position: relative;
    border-radius: 5px;

}

.blog-post .post-image{
  position: relative;
  overflow: hidden;
}






.blog-post .post-meta{
  display: flex;
  align-items: center;
  padding: 5% 10%;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
}

.post-meta{
  display: flex;
  align-items: center;
}

.post-meta .post-avatar{
  margin-right: 10px;
    flex-shrink: 0;
    flex-basis: 28px;
}

.blog-post .post-meta .post-author-content{
  font-size: 14px;
    color: var(--white);
}

.post-meta .post-author-content{
  font-size: 15px;
    color: var(--clr-text-light);
}

.post-meta .post-avatar img{
  border-radius: 100%;
  height: 28px;
  width: 28px;
}

.blog-post .post-image>img{
  filter: grayscale(100);
  transition: all 0.2s ease-in-out 0s;
}

.blog-post:hover .post-image>img{
  transform: scale(1.1);
  opacity: 1;
  filter: grayscale(0);
}


.blog-post.style1 .post-wrap{
  padding: 30px 10% 7% 10%;
}


.blog-post.style2 .post-wrap{
padding: 25px 10% 25px 10%;
}

.blog-post .post-date{
font-size: 14px;
line-height: 26px;
color: var(--clr-text-light);
font-family: var(--font-normal);
}

.blog-post.style1 .post-title{
  font-size: 20px;
  line-height: 29px;
color: var(--clr-text);
  margin: 5px 0 20px 0;
  font-family: var(--font-medium);
}

.blog-post.style2 .post-title{
  font-size: 16px;
  line-height: 23px;
color: var(--clr-text);
font-family: var(--font-medium);
}

.blog-post .post-content{
  font-size: 15px;
line-height: 26px;
  color: var(--clr-text-light);
  font-family: var(--font-normal);
}


.our-values{
  background: url(../assets/images/10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ourvalues-wrapper{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: rgba(10,32,68,0.7);

}

.ourvalue-content{
  width:66.66666667%;
  margin:auto;
  text-align: center;
}
.ourvalue-content h4{
  font-size: 48px;
  line-height: 26px;
  color: var(--white);
  font-family: var(--font-normal);
}
.ourvalue-content h5{
  font-size: 21px;
  line-height: 26px;
  color: var(--white);
  font-family: var(--font-normal);
}

.button-video{
  background-color: var(--white);
  border-radius: 50%;
  border: none;
  outline: none;
  width: 64px;
  height: 64px;
  animation: button-video 3s infinite;
  margin-top: 40px;
  position: relative;
}

.button-video:after{
  font: var(--fa-font-solid);
  content: "\f04b";
  color: var(--clr-red);
}

.button-video:before{
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 128px;
  height: 86px;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
  background: rgba(255,255,255,.2);
  border-radius: 100%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(1.1);
}

.button-video:hover:before{
animation: circle .75s;
}

@keyframes button-video {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  50% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3)
  }

  100% {
      -webkit-transform: scale(1);
      transform: scale(1)
  }
}


@keyframes circle {
  0% {
      opacity: 1
  }

  40% {
      opacity: 1
  }

  100% {
      width: 128px;
      height: 128px;
      opacity: 0
  }
}
.valueSlider{
  margin-top:20px
}

.valueSlider .swiper-slide h2{

  font-size: 96px;
  line-height: 115px;
  color: var(--white);
  font-family: var(--font-bold);
  margin-bottom: 0;


}


.our-testimonials{
  padding-top: 80px;
}

.testimonialSlider{
  margin-top: 60px;
}

.testimonial {
    overflow: hidden;
    box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
    border-radius: 5px;
    border-top-width: 3px;
    border-top-style: solid;
}


.testimonial .testimonial-wrap {
  background: var(--white);
  padding: 10%;
}

.testimonial .testimonial-content {
  margin-bottom: 30px;
}

.testimonial .testimonial-image {
  margin-bottom: 30px;
}

.testimonial .testimonial-text p{
margin-bottom: 0;
font-size: 16px;
line-height: 26px;
color: var(--clr-text-light);
font-family: var(--font-normal);
}

.testimonial .author-info .author-name{
  font-family:var(--font-medium);
  color:var(--clr-text);
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 0;
}

.testimonial .author-info .subtitle{
  font-family:var(--font-normal);
  color:var(--clr-text-light);
  font-size: 16px;
  line-height: 21px;
}
.pagination-style2 .swiper-pagination-bullet{
width: 60px;
height: 6px;
border-radius: 20px;

}

.pagination-style2 .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: var(--clr-red);

}



.top-footer {
  background-color: var(--white);
  background-image: url(../assets/images/content-bottom-bg.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: scroll;
  padding-top: 100px;
  padding-right: 0px;
  padding-bottom: 20%;
  padding-left: 0px;
  text-align: center;
}

.top-footer-wrap{
  width: 1170px;
  max-width: 90%;
  margin: auto;
}

.top-footer-content{
  padding: 0 20%;
}

.top-footer-subtitle{
  color:var(--clr-text);
  text-transform: none;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  font-family: var(--font-medium);
  margin-bottom: 30px;
}

.top-footer-title{
  color:var(--clr-text);
  text-transform: none;
  font-size: 36px;
  line-height: 43px;
  font-family: var(--font-bold);
  margin-bottom: 20px;
}

.top-footer-para{
  color:var(--clr-text);
  text-transform: none;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--font-normal);
  margin-bottom: 40px;
}

.footer-mid{
  background-color: var(--white);
  padding-top: 80px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
}

.footer-logo{
  margin-bottom: 30px;
}

.footer-logo img{

  margin-bottom: 30px;

}

.footer-logo p{
  font-size: 15px;
  line-height: 23px;
  font-family: var(--font-normal);
  color: var(--clr-text-light);

}

.footer-logo a{
  font-size: 15px;
  line-height: 23px;
  font-family: var(--font-normal);
  color: var(--clr-text);
text-decoration: none;

}

.social-icons a {
  margin: 0 6px;
  height: auto;
  line-height: 1;
  width: auto;
  opacity: .3;
  color: var(--clr-text);
  transition: all 0.5s;
}

.social-icons a:hover {
opacity: 1;
color: var(--clr-red);
}

.social-icons a i {
  color: inherit;
  height: auto;
  line-height: 1;
  width: auto;
  font-size: 28px;
  background: transparent;
}

.footer-menu{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-menu .top-footer-item{
   width: 25%;
}

.footer-sub-menu{
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 10px 0 0 0;
}

.top-footer-item{
  margin: 0 0 30px 0;
}

.top-footer-item a{
  font-size: 15px;
  line-height: 22.5px;
  color: var(--clr-text);
  text-decoration: none;
  font-family: var(--font-medium);
}


.footer-sub-menu>.footer-menu-item{
  margin-bottom: 10px;
}

.footer-sub-menu>.footer-menu-item a{
  font-size: 14px;
  line-height: 21px;
  color: var(--clr-text);
  text-decoration: none;
  font-family: var(--font-normal);
  transition: all 0.2s ease-in-out 0s;
  opacity: 0.7;
  position: relative;
}

.footer-sub-menu>.footer-menu-item a:after{
  content: "";
  bottom: 0px;
    width: 0;
    height: 0;
    border-top: 1px solid;
    position: absolute;
    right: 0;
    opacity: .3;
    transition: width 0.5s cubic-bezier(.25,.8,.25,1) 0s;
}

.footer-sub-menu>.footer-menu-item a:hover:after{
width: 100%;
right: auto;
left: 0;
}

.footer-sub-menu>.footer-menu-item a:hover {
  color: #ff0000;
}

.copyright-footer{
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 30px;
}

.copyright-content{
  font-size: 15px;
  line-height: 26px;
  color: var(--clr-text-light);
  font-family: var(--font-normal);
}
.copyright-content a{
text-decoration: none;
color: var(--clr-text);
}



.inner-nav{
  background: rgba(255,255,255,.7);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #00000010;
  position: sticky;
  top: 0;
  z-index: 999;
}

.inner-nav-list{
display: flex;
justify-content: center;
align-items: center;
padding: 0;
margin: 0;
list-style: none;
height: 62.5px;
}

.inner-nav-list li {
  margin: 0 15px;
  font-size: 15px;
  line-height: 16.5px;
  color:var(--clr-text);
  font-family: var(--font-medium);
}

.inner-nav-list li a{
  color:var(--clr-text-light);
  font-family: var(--font-normal);
  text-decoration: none;
}

.about-images {
  padding: 60px 0;
}

.about-images img{
  border-radius: 5px;
}


.our-history{
  padding: 80px 0;
  background-color: var(--clr-bg);
}

.history-wrapper{
  padding: 0 12%;
  margin: 40px 0 60px;
}

.section-h4{
  color: var(--clr-text);
  font-family: var(--font-medium);
  font-size: 20px;
  line-height: 30px;
}


.aboutBlogs .post-inner>a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 10px 60px rgb(0 0 0 / 12%);
  text-decoration: none;
}

.aboutBlogs .post-inner .post-image {
  flex-shrink: 0;
  flex-basis: calc(50% - 15px);
  overflow: hidden;
  position: relative;
}
.aboutBlogs .post-inner .post-image img{
  height: 180px;
}

.aboutBlogs .post-inner .post-image .post-date {
  position: absolute;
  left: 20px;
  bottom: 15px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: var(--white);
  z-index: 2;
}

.aboutBlogs .post-inner .post-image .post-date span {
  display: block;
}

.aboutBlogs .post-inner .post-image .post-date span.post-day {
  font-size: 24px;
}

.aboutBlogs .post-inner .post-content {
  flex-grow: 1;
  padding: 15px 30px;
}

.aboutBlogs .post-inner .post-content .post-title{
  font-size: 18px;
  line-height: 23px;
  font-family: var(--font-medium);
  color: var(--clr-text);
}

.bg-img-wrap{
  background-image: url("../assets/images/img-ab.jpg");
  background-position: center;
  background-repeat: no-repeat ;
  background-size: contain ;
}

.bann_bg_img {
  height: 312px;
  background-size: cover;

}


.lig-blue-bg{
  background-color: #32f0f0;
  padding: 72px 84px 60px;
}
.lig-blue-bg h3{
  color: var(--clr-text);
  font-size: 30px;
  font-family: var(--font-bold);
}
.lig-blue-bg p{
  font-family: var(--font-normal);
  color: var(--clr-text);
  font-size: 15px;
}


.dark-blue-bg{
  padding: 72px 84px 60px;
  background-color:  var(--clr-text);
  font-family: var(--font-bold);
}
.dark-blue-bg p{
  font-family: var(--font-normal);
  font-size: 15px;
}
.mission-icons{

  border:1px solid rgba(0,0,0,0.1) ;
  border-radius: 5px;

}

.leaders-card{
  background-color: var(--clr-text);
}

.back-human{
  position: relative;
}
.back-human img{
  filter: grayscale(100%);
  opacity: 0.7;
}
.back-human img:hover{
  filter: grayscale(0);
  opacity: 1;
  cursor: pointer;
}
.absol-wrap{
  position: absolute;
  bottom: 5px;
  right: 25px;
}
.bg_black{
 background-color: var(--black);
 padding: 23px;
}
.bg_black h4{
  font-size: 20px;
  font-family: var(--font-medium);
}
.bg_black p{
  font-size: 14px;
  font-family: var(--font-normal);
}

.why-choose-us{
  padding: 10% 0 10%;
}

.title-w-separator{
  z-index: 1;
  position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.title-w-separator span{
height: 1px;
position: relative;
flex: 1 1 auto;
min-width: 10%;
}

.title-w-separator span>span{

height: 1px;
border-top: 1px solid rgba(255,255,255,0.25);
display: block;
position: relative;
top: 1px;
width: 100%;
}

.title-w-separator h5{
  margin-bottom: 0;
  color: var(--white);
  font-size: 16px;
  line-height: 16px;
  font-family: var(--font-medium);
  padding: 0 0.8em;
}

.project-inner {
  overflow: hidden;
  background: var(--white);
  position: relative;
  padding: 18px 18px 22px;
  border-radius: 5px;
  box-shadow: 0 10px 60px rgb(0 0 0 / 12%);
}

.project-inner .project-info {
  padding:0 16px;
}
.project-inner .project-info .project-category a{
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 26px;
  font-family: var(--font-normal);
  color: var(--clr-secondary);
}

.project-inner .project-info .project-info-inner>a .project-title{
  color: var(--clr-text);
  font-size: 20px;
  line-height: 28px;
  font-family: var(--font-medium);
}



.page-banner-title.text-center i.fa-message {
  font-size: 45px;
  margin-bottom: 35px;
}

.search-field {
  background-color:var(--white);
  align-items: center !important;
  height: 65px;
  border: none;
  padding: 0px 25px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
  font-family: var(--font-normal);
}

.search-field .input-group-append button i.fa-magnifying-glass {
  font-size: 20px;
  color: var(--clr-text-light);
}

.wrap-rotate {
  font-size: 18px !important;
  font-family: var(--font-medium);
  height: 74px;
  padding: 20px 30px 20px 45px !important;
}

.spac-wrap {
  padding: 0px 45px !important;
}

.spac-wrap p {
  line-height: 26px;
  color: var(--clr-text-light);
  font-family: var(--font-normal);
  font-size: 16px;
}

.wrap-rotate:not(.collapsed)::after {
  transform: rotate(0deg) !important;
}

.wrap-rotate::after {
  transform: rotate(-90deg) !important;
}

.ask-bd {
  border-bottom: 1px dotted rgba(0, 0, 0, .5);
  text-decoration: none;
}

.bd-wrap {
  border: 1px solid rgba(0, 0, 0, .1) !important;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .06);
}



.img_hei {
  width: 140px;
}

.tab_wrap thead th {
  padding: 12px 25px;
  font-weight: 400;
  text-align: left;
}
.tab_wrap{
  font-family: var(--font-normal);
  text-align: center;
  margin: auto;
}

.tab_wrap tbody tr td {
  padding: 18px 40px;
  font-weight: 400;
  text-align: left;
}

.tab_wrap tbody tr {
  background: #f3f6f9;
}

.tab_wrap tbody tr:nth-child(2) {
  background-color: transparent;
}

.tab_wrap tbody tr td h6 a {
  border-bottom: 1px dotted rgba(0, 0, 0, .5);
  text-decoration: none;
  font-family: var(--font-medium);
  color: var(--clr-text);
}





.worktabs{
  display:flex;
  justify-content: center;
  position:relative;
  margin-bottom: 50px;
}

.filter-btn {
  cursor: pointer;
   -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  text-decoration:none;
  color: var(--clr-text-light);
  padding:0 15px;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index:1;
  transition-duration:1.0s;
  font-size:15px;
  line-height: 26px;
  font-family: var(--font-normal);
}

.filter-btn.active{
  color:var(--clr-text);
}

.filter-btn img{
  width:48px;
  height: 48px;
  margin-bottom: 20px;
}

.worktabs .selector{
  height:100%;
  position:absolute;
 
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;

}

.grid article {
  background-color: #FFFFFF;
  display: block;
  float: left;
  margin: 1%;
  width: 23%;
}

@media (max-width: 1024px) {
  .grid article {
    width: 31.3%;
  }
}

@media (max-width: 767px) {
  .grid article {
    width: 48%;
  }
}

@media (max-width: 479px) {
  .grid article {
    margin: 2% 0;
    width: 100%;
  }
}

